div#widgets-metabox .inside {
    padding-left:0;
    padding-right: 0px;
}


div#widgets-metabox .wrap {
    margin-right:0px;
}


div#widgets-metabox div#widgets-left {
    margin-right: 294px;
}

div#widgets-metabox div#widgets-left #available-widgets {
/*    margin-top:0px;*/
}


div#widgets-metabox div#widgets-left .widget{
    width:224px;
    margin: 0 5px 16px;
}

div#widgets-metabox div#widgets-right .widget {
    width: 250px;
}