<div id="widgets-metabox" class="postbox ">
    <div class="handlediv" title="Click to toggle"><br></div><h3 class="hndle"><span>Widgets</span></h3>
    <div class="inside">

        <div class="wrap">
            <div class="widget-liquid-left">
                <div id="widgets-left">
                    <div id="available-widgets" class="widgets-holder-wrap">
                        <div class="sidebar-name">
                            <div class="sidebar-name-arrow"><br></div>
                            <h3>
                                Available Widgets 
                                <span id="removing-widget">Deactivate 
                                    <span></span>
                                </span>
                            </h3>
                        </div>
                        <div class="widget-holder">
                            <p class="description">Drag widgets from here to a sidebar on the right to activate them. Drag widgets back here to deactivate them and delete their settings.</p>
                            <div id="widget-list">
  
                            </div>
                            <br class="clear">
                        </div>
                    </div>

                </div>
            </div>

            <div class="widget-liquid-right">
                <div id="widgets-right">

                    <div class="widgets-holder-wrap">
                        <div class="sidebar-name">
                            <div class="sidebar-name-arrow"><br></div>
                            <h3>Sample Page Widgets <span><img src="http://127.0.0.1/odl/wp-admin/images/wpspin_dark.gif" class="ajax-feedback" title="" alt=""></span></h3></div>
                        <div id="widget-metabox-2" class="widgets-sortables" style="min-height: 290px; ">
                            <div class="sidebar-description">
                                <p class="description">Widget Area specifically for "Sample Page"</p></div>
                            <div id="widget-124_archives-52" class="widget">	<div class="widget-top">
                                    <div class="widget-title-action">
                                        <a class="widget-action hide-if-no-js" href="#available-widgets"></a>
                                        <a class="widget-control-edit hide-if-js" href="/odl/wp-admin/post.php?post=2&amp;action=edit&amp;message=1&amp;editwidget=archives-52&amp;sidebar=widget-metabox-2&amp;key=0"><span class="edit">Edit</span><span class="add">Add</span></a>
                                    </div>
                                    <div class="widget-title"><h4>Archives<span class="in-widget-title">: khjb</span></h4></div>
                                </div>

                                <div class="widget-inside">
                                    <form action="" method="post">
                                        <div class="widget-content">
                                            <p><label for="widget-archives-52-title">Title:</label> <input class="widefat" id="widget-archives-52-title" name="widget-archives[52][title]" type="text" value="khjb"></p>
                                            <p>
                                                <input class="checkbox" type="checkbox" id="widget-archives-52-dropdown" name="widget-archives[52][dropdown]"> <label for="widget-archives-52-dropdown">Display as dropdown</label>
                                                <br>
                                                <input class="checkbox" type="checkbox" id="widget-archives-52-count" name="widget-archives[52][count]"> <label for="widget-archives-52-count">Show post counts</label>
                                            </p>
                                        </div>
                                        <input type="hidden" name="widget-id" class="widget-id" value="archives-52">
                                        <input type="hidden" name="id_base" class="id_base" value="archives">
                                        <input type="hidden" name="widget-width" class="widget-width" value="250">
                                        <input type="hidden" name="widget-height" class="widget-height" value="200">
                                        <input type="hidden" name="widget_number" class="widget_number" value="52">
                                        <input type="hidden" name="multi_number" class="multi_number" value="">
                                        <input type="hidden" name="add_new" class="add_new" value="">

                                        <div class="widget-control-actions">
                                            <div class="alignleft">
                                                <a class="widget-control-remove" href="#remove">Delete</a> |
                                                <a class="widget-control-close" href="#close">Close</a>
                                            </div>
                                            <div class="alignright">
                                                <img src="http://127.0.0.1/odl/wp-admin/images/wpspin_light.gif" class="ajax-feedback" title="" alt="">
                                                <input type="submit" name="savewidget" id="widget-archives-52-savewidget" class="button-primary widget-control-save" value="Save">		</div>
                                            <br class="clear">
                                        </div>
                                    </form>
                                </div>

                                <div class="widget-description">
                                    A monthly archive of your site’s posts
                                </div>
                            </div><div id="widget-125_calendar-40" class="widget">	<div class="widget-top">
                                    <div class="widget-title-action">
                                        <a class="widget-action hide-if-no-js" href="#available-widgets"></a>
                                        <a class="widget-control-edit hide-if-js" href="/odl/wp-admin/post.php?post=2&amp;action=edit&amp;message=1&amp;editwidget=calendar-40&amp;sidebar=widget-metabox-2&amp;key=1"><span class="edit">Edit</span><span class="add">Add</span></a>
                                    </div>
                                    <div class="widget-title"><h4>Calendar<span class="in-widget-title">: tfyfctrcfrc</span></h4></div>
                                </div>

                                <div class="widget-inside">
                                    <form action="" method="post">
                                        <div class="widget-content">
                                            <p><label for="widget-calendar-40-title">Title:</label>
                                                <input class="widefat" id="widget-calendar-40-title" name="widget-calendar[40][title]" type="text" value="tfyfctrcfrc"></p>
                                        </div>
                                        <input type="hidden" name="widget-id" class="widget-id" value="calendar-40">
                                        <input type="hidden" name="id_base" class="id_base" value="calendar">
                                        <input type="hidden" name="widget-width" class="widget-width" value="250">
                                        <input type="hidden" name="widget-height" class="widget-height" value="200">
                                        <input type="hidden" name="widget_number" class="widget_number" value="40">
                                        <input type="hidden" name="multi_number" class="multi_number" value="">
                                        <input type="hidden" name="add_new" class="add_new" value="">

                                        <div class="widget-control-actions">
                                            <div class="alignleft">
                                                <a class="widget-control-remove" href="#remove">Delete</a> |
                                                <a class="widget-control-close" href="#close">Close</a>
                                            </div>
                                            <div class="alignright">
                                                <img src="http://127.0.0.1/odl/wp-admin/images/wpspin_light.gif" class="ajax-feedback" title="" alt="">
                                                <input type="submit" name="savewidget" id="widget-calendar-40-savewidget" class="button-primary widget-control-save" value="Save">		</div>
                                            <br class="clear">
                                        </div>
                                    </form>
                                </div>

                                <div class="widget-description">
                                    A calendar of your site’s posts
                                </div>
                            </div><div id="widget-126_nav_menu-6" class="widget">	<div class="widget-top">
                                    <div class="widget-title-action">
                                        <a class="widget-action hide-if-no-js" href="#available-widgets"></a>
                                        <a class="widget-control-edit hide-if-js" href="/odl/wp-admin/post.php?post=2&amp;action=edit&amp;message=1&amp;editwidget=nav_menu-6&amp;sidebar=widget-metabox-2&amp;key=2"><span class="edit">Edit</span><span class="add">Add</span></a>
                                    </div>
                                    <div class="widget-title"><h4>Custom Menu<span class="in-widget-title"></span></h4></div>
                                </div>

                                <div class="widget-inside">
                                    <form action="" method="post">
                                        <div class="widget-content">
                                            <p>No menus have been created yet. <a href="http://127.0.0.1/odl/wp-admin/nav-menus.php">Create some</a>.</p>	</div>
                                        <input type="hidden" name="widget-id" class="widget-id" value="nav_menu-6">
                                        <input type="hidden" name="id_base" class="id_base" value="nav_menu">
                                        <input type="hidden" name="widget-width" class="widget-width" value="250">
                                        <input type="hidden" name="widget-height" class="widget-height" value="200">
                                        <input type="hidden" name="widget_number" class="widget_number" value="6">
                                        <input type="hidden" name="multi_number" class="multi_number" value="">
                                        <input type="hidden" name="add_new" class="add_new" value="">

                                        <div class="widget-control-actions">
                                            <div class="alignleft">
                                                <a class="widget-control-remove" href="#remove">Delete</a> |
                                                <a class="widget-control-close" href="#close">Close</a>
                                            </div>
                                            <div class="alignright">
                                                <img src="http://127.0.0.1/odl/wp-admin/images/wpspin_light.gif" class="ajax-feedback" title="" alt="">
                                                <input type="submit" name="savewidget" id="widget-nav_menu-6-savewidget" class="button-primary widget-control-save" value="Save">		</div>
                                            <br class="clear">
                                        </div>
                                    </form>
                                </div>

                                <div class="widget-description">
                                    Use this widget to add one of your custom menus as a widget.
                                </div>
                            </div><div id="widget-127_categories-17" class="widget">	<div class="widget-top">
                                    <div class="widget-title-action">
                                        <a class="widget-action hide-if-no-js" href="#available-widgets"></a>
                                        <a class="widget-control-edit hide-if-js" href="/odl/wp-admin/post.php?post=2&amp;action=edit&amp;message=1&amp;editwidget=categories-17&amp;sidebar=widget-metabox-2&amp;key=3"><span class="edit">Edit</span><span class="add">Add</span></a>
                                    </div>
                                    <div class="widget-title"><h4>Categories<span class="in-widget-title"></span></h4></div>
                                </div>

                                <div class="widget-inside">
                                    <form action="" method="post">
                                        <div class="widget-content">
                                            <p><label for="widget-categories-17-title">Title:</label>
                                                <input class="widefat" id="widget-categories-17-title" name="widget-categories[17][title]" type="text" value=""></p>

                                            <p><input type="checkbox" class="checkbox" id="widget-categories-17-dropdown" name="widget-categories[17][dropdown]">
                                                <label for="widget-categories-17-dropdown">Display as dropdown</label><br>

                                                <input type="checkbox" class="checkbox" id="widget-categories-17-count" name="widget-categories[17][count]">
                                                <label for="widget-categories-17-count">Show post counts</label><br>

                                                <input type="checkbox" class="checkbox" id="widget-categories-17-hierarchical" name="widget-categories[17][hierarchical]">
                                                <label for="widget-categories-17-hierarchical">Show hierarchy</label></p>
                                        </div>
                                        <input type="hidden" name="widget-id" class="widget-id" value="categories-17">
                                        <input type="hidden" name="id_base" class="id_base" value="categories">
                                        <input type="hidden" name="widget-width" class="widget-width" value="250">
                                        <input type="hidden" name="widget-height" class="widget-height" value="200">
                                        <input type="hidden" name="widget_number" class="widget_number" value="17">
                                        <input type="hidden" name="multi_number" class="multi_number" value="">
                                        <input type="hidden" name="add_new" class="add_new" value="">

                                        <div class="widget-control-actions">
                                            <div class="alignleft">
                                                <a class="widget-control-remove" href="#remove">Delete</a> |
                                                <a class="widget-control-close" href="#close">Close</a>
                                            </div>
                                            <div class="alignright">
                                                <img src="http://127.0.0.1/odl/wp-admin/images/wpspin_light.gif" class="ajax-feedback" title="" alt="">
                                                <input type="submit" name="savewidget" id="widget-categories-17-savewidget" class="button-primary widget-control-save" value="Save">		</div>
                                            <br class="clear">
                                        </div>
                                    </form>
                                </div>

                                <div class="widget-description">
                                    A list or dropdown of categories
                                </div>
                            </div><div id="widget-128_links-6" class="widget">	<div class="widget-top">
                                    <div class="widget-title-action">
                                        <a class="widget-action hide-if-no-js" href="#available-widgets"></a>
                                        <a class="widget-control-edit hide-if-js" href="/odl/wp-admin/post.php?post=2&amp;action=edit&amp;message=1&amp;editwidget=links-6&amp;sidebar=widget-metabox-2&amp;key=4"><span class="edit">Edit</span><span class="add">Add</span></a>
                                    </div>
                                    <div class="widget-title"><h4>Links<span class="in-widget-title"></span></h4></div>
                                </div>

                                <div class="widget-inside">
                                    <form action="" method="post">
                                        <div class="widget-content">
                                            <p>
                                                <label for="widget-links-6-category" class="screen-reader-text">Select Link Category</label>
                                                <select class="widefat" id="widget-links-6-category" name="widget-links[6][category]">
                                                    <option value="">All Links</option>
                                                    <option value="2">Blogroll</option>
                                                </select></p>
                                            <p>
                                                <input class="checkbox" type="checkbox" checked="checked" id="widget-links-6-images" name="widget-links[6][images]">
                                                <label for="widget-links-6-images">Show Link Image</label><br>
                                                <input class="checkbox" type="checkbox" checked="checked" id="widget-links-6-name" name="widget-links[6][name]">
                                                <label for="widget-links-6-name">Show Link Name</label><br>
                                                <input class="checkbox" type="checkbox" id="widget-links-6-description" name="widget-links[6][description]">
                                                <label for="widget-links-6-description">Show Link Description</label><br>
                                                <input class="checkbox" type="checkbox" id="widget-links-6-rating" name="widget-links[6][rating]">
                                                <label for="widget-links-6-rating">Show Link Rating</label>
                                            </p>
                                        </div>
                                        <input type="hidden" name="widget-id" class="widget-id" value="links-6">
                                        <input type="hidden" name="id_base" class="id_base" value="links">
                                        <input type="hidden" name="widget-width" class="widget-width" value="250">
                                        <input type="hidden" name="widget-height" class="widget-height" value="200">
                                        <input type="hidden" name="widget_number" class="widget_number" value="6">
                                        <input type="hidden" name="multi_number" class="multi_number" value="">
                                        <input type="hidden" name="add_new" class="add_new" value="">

                                        <div class="widget-control-actions">
                                            <div class="alignleft">
                                                <a class="widget-control-remove" href="#remove">Delete</a> |
                                                <a class="widget-control-close" href="#close">Close</a>
                                            </div>
                                            <div class="alignright">
                                                <img src="http://127.0.0.1/odl/wp-admin/images/wpspin_light.gif" class="ajax-feedback" title="" alt="">
                                                <input type="submit" name="savewidget" id="widget-links-6-savewidget" class="button-primary widget-control-save" value="Save">		</div>
                                            <br class="clear">
                                        </div>
                                    </form>
                                </div>

                                <div class="widget-description">
                                    Your blogroll
                                </div>
                            </div></div>
                    </div>



                </div>
            </div>
            <form action="" method="post">
                <input type="hidden" id="_wpnonce_widgets" name="_wpnonce_widgets" value="41902d3209">    </form>
            <br class="clear">
        </div>

    </div></div>